@media ( max-width: 1200px )
  .container
    max-width: 960px
@media  ( max-width: 992px )
  .container
    max-width: 700px
  .header
    &__top
      padding: 30px 0
    &-search
      margin-left: auto
    &-menu
      &__list
        padding: 23px 0
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .logo
    width: 132px

@media  ( max-width: 768px )
  .container
    max-width: 576px
    width: 92%
  .header
    &-bottom, &-search, &-user
      display: none
    &-burger
      display: flex
      width: 16px
      height: 11px
      padding: 0
      justify-content: space-between
      align-items: center
      flex-direction: column
      border: 0
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background: $text

  .hotel
    &-info
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0

@media  ( max-width: 576px )
  .logo
    width: 99px
