.hotel
  padding-top: 23px
  padding-bottom: 70px
  &-info
    display: flex
    align-items: center
    justify-content: space-between
    &__offer
      margin-left: 14px
      margin-top: 5px
  &-name
    font-size: 24px
    line-height: 30px
    margin: 5px 0 0 0
  &-description
    margin: 0
    font-size: 12px
    line-height: 15px

  &-wrapper
    display: flex
    flex-wrap: wrap
    align-items: center
.stars
  flex-basis: 100%
.offer
  padding: 3px 9px 4px 9px
  background: $button
  color: $light
  border-radius: 3px
  font-size: 10px
  line-height: 13px
  font-weight: 600

.rating
  max-width: 65px
  min-height: 45px
  color: $light
  background-color: $button
  text-align: center
  border-radius: 4px
  &__text
    font-weight: 600
    font-size: 8px
    line-height: 10px
  &__counter
    font-weight: bold
    font-size: 14px
    line-height: 18px
